/*
!/.gitignore
!/.gitattributes
!/Assets/
!/Packages/
!/ProjectSettings/
!/LICENSE*
!/COPYING*
!/NOTICE*

.DS_Store
Thumbs.db
Desktop.ini
*~

/Assets/_Recovery/
/Assets/_Recovery.meta
/Assets/TutorialInfo/
/Assets/TutorialInfo.meta
/Assets/Readme.asset
/Assets/Readme.asset.meta
/Assets/Scenes/SampleScene.unity
/Assets/Scenes/SampleScene.unity.meta
/Assets/MP1B/Original/
/Assets/MP1B/Original.meta

/Assets/MP1B/Editor/CabinVerification.cs
/Assets/MP1B/Editor/CabinVerification.cs.meta
/Assets/MP1B/Editor/CabinBellUpdate.cs
/Assets/MP1B/Editor/CabinBellUpdate.cs.meta
/Assets/TeamGame/Editor/CombinedVerification.cs
/Assets/TeamGame/Editor/CombinedVerification.cs.meta
/Assets/TeamGame/Editor/VrFinalInputChecks.cs
/Assets/TeamGame/Editor/VrFinalInputChecks.cs.meta
/Assets/TeamGame/Editor/VrMetaProfileChecks.cs
/Assets/TeamGame/Editor/VrMetaProfileChecks.cs.meta
/Assets/TeamGame/Editor/VrShaderChecks.cs
/Assets/TeamGame/Editor/VrShaderChecks.cs.meta

/Assets/TeamRooms/Storage/Editor/
/Assets/TeamRooms/Storage/Editor.meta
/Assets/AureDevGames/Water Stylized Shader Orto & Perspective Camera/Editor/
/Assets/AureDevGames/Water Stylized Shader Orto & Perspective Camera/Editor.meta
/Assets/Resources/PerformanceTestRunInfo.json
/Assets/Resources/PerformanceTestRunInfo.json.meta
/Assets/Resources/PerformanceTestRunSettings.json
/Assets/Resources/PerformanceTestRunSettings.json.meta
